<div *ngIf="!dataVideo" id="preloader">
  <div id="loader"></div>
</div>

<ul class="list-group">
  <li *ngIf="!alreadyExists" class="hidden-list-item alert-list-item list-group-item">
    <div class="alert alert-success" role="alert">
      .
    </div>
  </li>
  <li *ngIf="alreadyExists" class="alert-list-item list-group-item">
    <div class="alert alert-danger" role="alert">
      Такое видео уже есть
    </div>
  </li>
  <li class="form-list-item list-group-item">
    <form [formGroup]='uploadVideo' (submit)="sendUrl()" class="input-group mb-3">
      <input formControlName='videoUrl' type="text" class="form-control" placeholder="Вставить ссылку на видео"
        aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Добавить</button>
      </div>
    </form>
  </li>
</ul>

<div *ngIf="dataVideo" class="viev-video">
  <div *ngFor="let item of dataVideo" class="card">
    <button (click)="delete()" class="btn btn-dark delete"><i class="fas fa-times"></i></button>
    <a data-fancybox href="item.url">
      <button (click)="delete(item.url)" class="btn btn-dark delete"><i class="fas fa-times"></i></button>
      <img src="{{item.imgUrl}}" class="card-img-top">
    </a>
  </div>
</div>