footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  line-height: 50px;
  color: #ffffff;
  z-index: 10;
}

a {
  margin-right: 15px;
  color: #ffffff;
}

.mail {
  color: #ffffff;
  cursor: pointer;
  display: inline;
  text-decoration: none;
}

.mobile {
  display: none;
}

@media (max-width: 500px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}