nav ol {
  margin: 0px !important;
  line-height: 2rem;
}

.list-group-item {
  color: blueviolet;
  cursor: pointer;
}

.breadcrumb-item{
  cursor: pointer;
  color: grey;
}

.poem {
  white-space: pre-wrap;
  text-align: center;
}

.list-item-form {
  padding: 0;
  margin: 0;
  border: none !important;
  margin-top: 10px;
}

.list-item-poem {
  padding: 0;
  margin: 0;
  border: none !important;
  cursor: none;
  color: black;
}

.search {
  margin-bottom: 10px !important;
}

h4 {
  font-size: 1rem;
}

.fa-arrow-circle-left {
  font-size: 2rem;
}