<div *ngIf="!dataPoems" id="preloader">
  <div id="loader"></div>
</div>

<nav *ngIf="scrin !== 'autor'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li (click)="back()" class="breadcrumb-item"><i class="fas fa-arrow-circle-left"></i></li>
    <li *ngFor="let wayItem of wayOfPoems" class="breadcrumb-item">{{wayItem}}</li>
  </ol>
</nav>

<div *ngIf="dataPoems" class="wrapper">
  <ul class="list-group" *ngIf="scrin === 'autor'">
    <li class="list-group-item list-item-form">
      <form [formGroup]="searchAutor" class="input-group mb-3 search">
        <input type="text" class="form-control" formControlName="autor" placeholder="Поиск по имени автора">
      </form>
    </li>
    <li (click)="showPoemsList(item.name)" *ngFor="let item of dataView" class="list-group-item">
      {{item.name}}
    </li>
  </ul>

  <ul class="list-group" *ngIf="scrin === 'poemsList'">
    <li class="list-group-item list-item-form">
      <form [formGroup]="searchPoem" class="input-group mb-3 search">
        <input type="text" class="form-control" formControlName="poem" placeholder="Поиск по названию стиха">
      </form>
    </li>
    <li (click)="showPoem(poems.poemName)" *ngFor="let poems of dataView[history[0]].poems; let i = index"
      class="list-group-item">
      {{poems.poemName}}</li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item list-item-poem">
      <div *ngIf="scrin === 'poem'" class="poem">
        <h4>{{dataPoems[this.history[0]].poems[history[1]].poem}}</h4>
      </div>
    </li>
  </ul>
</div>