<div *ngIf="!dataPhoto" id="preloader">
  <div id="loader"></div>
</div>
<div *ngIf="dataPhoto">

  <ul *ngIf="!isAddPhoto" class="list-group">
    <li class="btn-list-item list-group-item">
      <button (click)="adding()" class="btn-lg btn-block btn btn-success">Добавить фото</button>
    </li>
  </ul>
  <div *ngIf="isAddPhoto">
    <div *ngIf="progress" class="progress">
      <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar"
        [style.width]="progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div *ngIf="!progress" class="hiden">.</div>
    <ul class="list-group">
      <li *ngIf="errorAlert" class="alert-list-item list-group-item">
        <div class="alert alert-danger" role="alert">
          {{errorAlert}}
        </div>
      </li>
      <li *ngIf="successAlert" class="alert-list-item list-group-item">
        <div class="alert alert-success" role="alert">
          {{successAlert}}
        </div>
      </li>
      <li *ngIf="isHidden" class="hidden-list-item alert-list-item list-group-item">
        <div class="alert alert-success" role="alert">
          .
        </div>
      </li>
    </ul>

    <ul class="list-group">
      <li class="form-list-item list-group-item">
        <form [formGroup]="uploadFileForm" enctype="multipart/form-data" (submit)="send()">
          <div class="form-group">
            <input accept="image/*" class="form-control-file" (change)='addFile($event)' type="file"
              formControlName='file'>
            <button [disabled]="!uploadFileForm.valid" class="btn btn-success" type="submit">Загрузить</button>
            <button class="btn btn-danger" (click)="cancel()" type="submit">Отмена</button>
          </div>
        </form>
        <form [formGroup]="uploadUrlForm" (submit)="addUrl()">
          <div class="form-group">
            <input class="form-control" type="text" formControlName='photoUrl' placeholder="Вставить ссылку на фото">
            <button [disabled]="!validForm" class="btn btn-success" type="submit">Загрузить</button>
          </div>
        </form>
        <img [src]="testImg" alt="" (load)="success()" (error)="error()" style="display: none">
      </li>
    </ul>
  </div>
  <div class="viev-photo">
    <div *ngFor="let photo of dataPhoto" class="card">
      <button (click)="delete(photo.url)" class="btn btn-dark delete"><i class="fas fa-times"></i></button>
      <img src="{{photo.url}}" class="card-img-top">
    </div>
  </div>
</div>