.list-item-form {
  padding: 0;
  margin: 0;
  border: none !important;
  margin-top: 10px;
}

.list-group-item{
  cursor: pointer;
}

form {
  margin: 0;
}

.btn-danger {
  float: right;
}

.btn {
  margin: 10px 0 0 0;
}

#pills-add-poems{
  white-space: pre-wrap;
}