<div *ngIf="!dataPoems" id="preloader">
  <div id="loader"></div>
</div>

<div *ngIf="dataPoems" class="autor">
  <ul *ngIf="!isEdit" class="list-group">
    <li class="list-group-item list-item-form">
      <form [formGroup]="searchForm" class="input-group mb-3 search">
        <input type="text" class="form-control" formControlName="search">
      </form>
    </li>
    <li (click)="editAutor(item.name)" *ngFor="let item of dataView" class="list-group-item">{{item.name}}
      <i class="fas fa-edit"></i></li>
  </ul>
  <ul *ngIf="isEdit" class="list-group">
    <li class="list-group-item list-item-form">
      <form [formGroup]="autor" class="input-group mb-3" (submit)='successEditAutor()'>
        <input type="text" class="form-control" formControlName="autorName">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-success"><i class="fas fa-check"></i></button>
          <button (click)="cancel()" type="button" class="btn btn-outline-danger"><i class="fas fa-times"></i></button>
        </div>
      </form>
    </li>
  </ul>
</div>