<div *ngIf="!dataPoems" id="preloader">
  <div id="loader"></div>
</div>

<div *ngIf="dataPoems" class="remove">
  <ul class="list-group">
    <li class="list-item-form list-group-item">
      <label for="autor">Удаление автора</label>
      <form [formGroup]='selectAutor' class="input-group mb-3" (submit)="removeAutorName()">
        <select formControlName="autorName" class="form-control" id="autor">
          <option *ngFor="let item of dataPoems" value="{{item.name}}">{{item.name}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-danger" type="submit" id="button-addon1">Удалить</button>
        </div>
      </form>
    </li>
    <li class="list-item-form list-group-item">
      <label for="autor">Удаление стиха</label>
      <form [formGroup]='selectPoem' class="input-group mb-3" (submit)="removePoem()">
        <select formControlName="autor" class="form-control" id="autor">
          <option *ngFor="let item of dataPoems" value="{{item.name}}">{{item.name}}</option>
        </select>
        <select *ngIf="isSelectedAutor" formControlName="poemName" class="form-control" id="autor">
          <option *ngFor="let item of dataPoems[pointer].poems" value="{{item.poemName}}">{{item.poemName}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-danger" type="submit" id="button-addon1">Удалить</button>
        </div>
      </form>
    </li>
  </ul>
</div>