.fa-times {
  cursor: pointer;
  font-size: 2em;
  padding-left: 20px;
}

.fa-edit {
  cursor: pointer;
  font-size: 1.5em;
  padding-left: 20px;
}

.btn-list-item {
  padding: 0;
  display: flex;
}

.btn-success {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
}

.btn-danger {
  float: right;
}

.form-control {
  margin-bottom: 10px;
}

.list-group-item {
  display: flex;
}

.content {
  display: inline-flexbox;
}

form {
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 380px) {
  .fa-times {
    cursor: pointer;
    font-size: 1.5em;
    padding-left: 0;
  }
  
  .fa-edit {
    cursor: pointer;
    font-size: 1em;
    padding-left: 0;
  }

  .controls {
    width: 10%;
  }

  .content {
    font-size: 14px;
  }
}