
<div class="about">
  <h3>Клуб "Теплые вечера"</h3>
  <hr />
  <p>Посвящен творчеству: поэзии, писательству и литературе. Он зародился, как молодое движение поселка городского типа "Слобожанский". Его главной идеей есть развитие творческих талантов молодых людей, а также взаимопомощь в личном творческом развитии. Название зародилось холодным и дождливым осенним вечером. Именно тогда мы впервые ощутили эту необыкновенную атмосферу теплоты и радушия. </p>
  <hr>
  Присоединяйтесь к нам:
  <div class="links">
    <a href="https://t.me/joinchat/FOOH7BNW7VJzjHPYcqUS7A"><i class="fab fa-telegram"></i> Telegram</a><br>
    <a href="https://www.facebook.com/groups/364070974209185/"><i class="fab fa-facebook"></i> Fasebook</a><br>
    <a href=""><i class="fab fa-instagram"></i> Instagram</a><br>
    <hr>
    По вопросам и предложениям пишите: <p class="mail">test@gmail.com</p>
  </div>
</div>