.about h3{
  text-align: center;
}

.links a {
  text-decoration: none;
  padding-right: 8px;
}

.mail {
  color: blueviolet;
  display: inline-flex;
  cursor: pointer;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  line-height: 50px;
}

.container {
  margin-left: 0;
  padding: 0;
}

.carousel {
  display: flex;
  border-top: 1px solid #ffffff;
}

.carousel-item {
  background: url(https://cdn-st2.rtr-vesti.ru/vh/pictures/hd/194/792/5.png);
  background-size: cover;
  height: 500px;
}