<div class="about">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item first active">
        <div class="carousel-caption d-none d-md-block">
          <h5>Теплая атмосфера</h5>
          <p>Наш клуб уютное место - дружелюбный коллектив различных возрастов объединенный одной идеей.</p>
        </div>
      </div>
      <div class="carousel-item second">
        <div class="carousel-caption d-none d-md-block">
          <h5>Творческое развитие</h5>
          <p>Мы способствуем развитию творческих навыков и приобретению новых.</p>
        </div>
      </div>
      <div class="carousel-item third">
        <div class="carousel-caption d-none d-md-block">
          <h5>Реализация</h5>
          <p>Наш клуб не просто способ отлично провести время, но и возможность оставить что-то после себя.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <h3>Клуб "Теплые вечера"</h3>
  <hr />
  <p>
    Посвящен творчеству: поэзии, писательству и литературе. Он зародился, как молодое движение поселка городского типа
    "Слобожанский". Его главной идеей есть развитие творческих талантов молодых людей, а также взаимопомощь в личном и
    творческом развитии. Название зародилось холодным и дождливым осенним вечером. Именно тогда мы впервые ощутили эту
    необыкновенную атмосферу теплоты и радушия. Это место где можно встретить доброту, отзывчивость и радушие. Многие
    наши участники профессиональные поэты и писатели, которые с радостью могут поделиться своим опытом.
  </p>
</div>