.about h3{
  text-align: center;
}

.links a {
  text-decoration: none;
  padding-right: 8px;
}

.mail {
  color: blueviolet;
  display: inline-flex;
  cursor: pointer;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  line-height: 50px;
}

.container {
  margin-left: 0;
  padding: 0;
}

.carousel {
  display: flex;
  border-top: 1px solid #ffffff;
}

.carousel-item {
  background-size: cover !important;
  height: 500px;
}

.first {
  background: url(../../../assets/carusel1.jpg)
}

.second {
  background-size: contain;
  background: url(../../../assets/carusel2.png)
}

.third {
  background: url(../../../assets/carusel3.jpg)
}

.carousel-caption {
  bottom: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-caption p, h5{
  margin: 0;
}

@media (max-width:768px) {
  .carousel-item {
    height: 250px !important;
  }
}

@media (max-width:992px) {
  .carousel-item {
    height: 350px;
  }
}

@media (max-width: 500px) {
  .carousel {
    display: none;
  }
}